*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    padding-top: 1rem;
    padding-bottom:1rem ;
    border-bottom: 1px solid black;
    height: 5rem;

}
body{
    font-family: "Poppins", sans-serif;
    
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,#logo{
    font-family: "Lora", serif;
}

h1,.h1{
    margin-bottom: 1.5rem;
    font-size:2.986rem ;
}
h2,.h2{
    margin-bottom: 1rem;
    font-size:2.488rem ;
}
h3,.h3{
    margin-bottom: 1rem;
    font-size:2.074rem ;
}
h4,.h4{
    margin-bottom: 1rem;
    font-size:1.728rem ;
}

p{
    margin-bottom: 1rem;
    font-size:1rem ;
    color: rgb(95, 93, 93);
}
span{
    display: inline-block;
    margin-bottom: 1rem;
    font-size:1rem ;
}

.container{
    width: 100%;
    height: 100;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#logo{
    text-decoration: none;
    color: black;
   
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

nav a{
    text-decoration: none;
    color: rgb(95, 93, 93);
    

}

.actionlinks{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.actionlinks a{
    text-decoration: none;
    color: black;
    

}
 
section{
    padding: 4rem 0;
}

#section1 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

#images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr ;
    gap: 1rem;
}

#images img{
    width: 100%;
    height: 100%;
}

#image1{
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#image2{
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#image3{
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#image4{
    grid-row-start: 4;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#mainimage{
    grid-row-start: 1;
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 3;
}

#section1 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

#section1 ul img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.buttonholder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.price{
    color: rgb(95, 93, 93);
}


.primarybutton{
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    border-radius: .25rem;
}

.secondarybuttton{
    text-decoration: none;
    border: 1px solid black;
    color:black;
    padding: .5rem 1rem;
    border-radius: .25rem;
}

.Similarproductlists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.productlist{
    box-shadow: 10px 10px 5px rgb(195, 223, 232);
    border-radius: .25rem;
}

.productlist img{
    width: 100%;
}

.product{
    padding: 1rem 1rem;
}

.priceandbutton{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


